		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Contact me</h3>
							<p><span style="font-size: 18px; color: #bbbbbb">Email&nbsp;&nbsp;: </span>huanyutseng810330@gmail.com</p>
						</section>
						<section>
							<h3>Medias</h3>
							<ul class="plain">
								<li><a href="https://www.linkedin.com/in/huan-yu-tseng-a71a24a8"><i class="icon fa-linkedin">&nbsp;</i>LinkedIn</a></li>
								<!-- 
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
								-->
							</ul>
						</section>
					</div>
					<div class="copyright">
						Copyleft <img src="images/Copyleft.svg" width = "10" height = "10"> 2019 Mitch Tseng.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>