<% include _header %>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Personal Website</h1>
					<p>It's my personal website. I will put some interesting and experimental projects here.<br />
					All of these projects will be under the copyleft license, including this website.</p>
				</div>
				<video autoplay loop muted playsinline src="images/banner.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Projects</h2>
						<p>Let's check out something interesting here.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>Project 1</h3>
								</header>
								<p>Not completed.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Project 2</h3>
								</header>
								<p>Not completed.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3>Project 3</h3>
								</header>
								<p>Not completed.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>About Me</h2>
					<p>Software engineer developing 3D vision applications and calibration solutions for intergrating 3D cameras and robots. Also a quick learner using new technology to implement things, a passionate team player knowing the importance of communication with team members and a creative researcher thinking & solving problems independently.</p>
				</div>
			</section>

<% include _footer %>